body {
  font-family: "San Francisco", "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana,
    sans-serif;
  margin: auto;
  max-width: 1200px;
}

table {
  width: 100%;
}

td {
  vertical-align: top;
  width: 50%;
  border: 1px solid gray;
}

#otherErrors {
  color: red;
}

pre {
  max-width: 600px;
  overflow: scroll;
  margin-bottom: 30px;
}

a {
  cursor: pointer;
}

#execResults {
  border: 0;
  width: 100%;
  height: 400px;
}
